body {
    font-family: Arial, sans-serif;
    background-color: #91bdff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

h2 {
    color: #333;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 8px;
    width: 250px;
    text-align: center;
    background-color: #fff;
}

.auto-ok {
    color: green;
}

.auto-falta {
    color: red;
}

#macep {
    width: 450px;
    height: auto;
    margin-top: 20px;
    display: block;
}
